:root {
  --sta-black: #0F0F0F;
  --sta-red: #CC2233;
  --sta-red-orange: #FF2200;
  --sta-orange: #FF7700;
  --sta-orange-yellow: #FAA41B;
  --sta-light-blue: #33CCCC;
  --sta-blue-purple: #4455FF;
  --sta-purple-pink: #CC88FF;
  --sta-purple: #9944FF;
  --sta-dark-purple: #444A77;
  --sta-yellow: #FFCC33;
}

.sta-enhanced.sheet .window-content {
  color: var(--sta-light-blue);
}

.sta-enhanced.sheet.actor .lcars-column {
  flex-shrink: 0;
  flex-grow: 0;
}

.sta-enhanced .section.note .editor {
  min-height: 100px;
  height: 100px;
}

.sta-enhanced.sta.sheet.actor .main .row {
  /* Override forcing lists to be narrow and scrollable.*/
  max-height: none;
}

.sta-enhanced .lcars-header {
  /** Copied from STA system's CSS: .sta.sheet.actor .main .row .column .section .header.row
   Subbed in var() colors. */
  background-color: var(--sta-dark-purple);
  color: #000000;
  font-weight: bold;
  padding-left: 2px;
  padding-right: 2px;
  border-bottom: 2px solid var(--sta-black);
}

/* Prevent the lcars headers from collapsing when they're empty. */
.sta-enhanced .lcars-header:empty:after {
  content: '\a0';
}

.sta-enhanced .main-content {
  display: grid;
  grid-template-areas: "header" "attributes" "tabs" "details";
  grid-template-rows: auto auto auto 1fr;
  height:100%;
}

.sta-enhanced .header {
  grid-area:header;
}

.sta-enhanced .row.main {
  grid-area: attributes;
}

.sta-enhanced .tabs {
  grid-area: tabs;
}

.sta-enhanced .sheet-details {
  grid-area: details;
  position: relative;
}

.sta-enhanced.sheet.actor .tab-area {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden auto;
}

.sta-enhanced .tabs {
  justify-content: space-around;
  margin: 22px 0 5px;
  width: 100%;
}

.sta-enhanced .tabs > [data-tab] {
  background-color: var(--sta-yellow);
  border-radius: 25px;
  color: var(--sta-black);
  font-size: 14pt;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  padding: 0 22px;
  text-shadow: none;
}

.sta-enhanced .tabs > [data-tab].active {
  background-color: var(--sta-red-orange);
}