<div class="sta roll attribute">
  <div class="dice-roll">
    <div class="dice-result">
      <div class="dice-tooltip">
        <section class="tooltip-part">
          <div class="dice">
            <ol class="dice-rolls">{{ challengeRollList rolls.challenge.roll }}</ol>
          </div>
        </section>
      </div>
      {{{rolls.challenge.effects}}}
      <h4 class="dice-total">{{{rolls.challenge.success}}}</h4>
    </div>
  </div>
  <button data-action="reroll-challenge" class="reroll sta-enhanced challenge">
    <span>{{ localize 'sta.roll.rerollresults' }}</span>
  </button>
</div>
