<div class="tab" data-tab="biography" data-group="primary-tabs">
  <div class="row">
    <div class="column" style="width:100%">
      <div class="section note">
        <div class="title">
          {{localize 'sta.actor.note.title'}}
        </div>
        <div class="lcars-header row item"></div>
        <div class="note">
          {{editor system.notes target="system.notes" button=true owner=owner editable=true}}
        </div>
      </div>
    </div>
  </div>
</div>