<div class="tab" data-tab="extras" data-group="primary-tabs">
  <div class="row">
    <div class="lcars-column">
      <div class="lcars-header-block1"></div>
      <div class="lcars-header-block2"></div>
    </div>
    <div class="column">
        <div class="row">
          <div class="column fields">
            <div class="row labels">
              <div class="column title" style="width:30%">
                <div> {{localize 'sta.actor.character.stressmod'}} </div>
              </div>
            </div>
            <div class="row">
              {{#if (systemEqOrNewer 1.2)}}
                <div class="column">
                  <input class="text-entry" name="system.strmod" id="strmod" type="number" value="{{system.strmod}}" placeholder="0" />
                </div>
              {{else}}
                <div class="column">
                  Upgrade to the latest STA System version!
                </div>
              {{/if}}
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
