<div class="tab" data-tab="reputation" data-group="primary-tabs">
  <div class="section reputation">
    <div class="title">
      {{localize 'sta.actor.character.reputation'}}
    </div>
    <div class="track">
      <input type="hidden" id="total-rep" name="system.reputation" value="{{system.reputation}}" data-dtype="Number" />
      <div id="bar-rep-renderer" class=" bar"></div>
    </div>
  </div>
</div>